@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.hero-section-container {
  width: 100%;
  min-height: 90vh;
  padding: 8rem 8rem;
  background-size: cover;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.432), rgb(0, 0, 0, 1)),
    url("https://media.discordapp.net/attachments/1137157098325680151/1138190988108648448/1200px-ISS034E016601_-_Stratocumulus_Clouds_-_Pacific_Ocean.jpg?width=636&height=423");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
  z-index: 999;
  color: rgb(255, 255, 255);
  font-family: "Alata", sans-serif;
  align-items: center;
background-color: black; 
  padding:2rem 8rem
}
.fa-bars {
  display: none;
  cursor: pointer;
  font-size: 2rem;
}
.logo {
  font-size: 4rem;
  color: rgb(255, 255, 255)!important;
}

nav ul {
  display: flex;
  gap: 3rem;
  text-decoration: none;
  color:rgb(255, 255, 255)
}

nav ul li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.active {
  color: rgb(52, 112, 82);
}
.hero-section-description {
  margin: 10rem auto;
  max-width: 700px;
  padding: 2rem;
  color: rgb(255, 255, 255);
}

.hero-section-description h1 {
  font-family: "Josefin Sans", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 7rem;
  font-size: 6rem;
  font-weight: 300;
}

.hero-section-description p {
  margin-top: 2rem;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.5rem;
}

.info-section {
  padding: 6rem 8rem; /* background-color: black; */
  width: 100%;
}

.info-container {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 2rem;
}

.image-description {
  width: 50%;
}

img {
  width: 600px;
  object-fit: cover;
  border-radius: 12px;
}

.image-description h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: rgb(78, 138, 78);
  font-weight: 400;
}

.image-description p {
  font-size: 1.9rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.726);
}

.info-container2 {
  flex-direction: row-reverse;
}

.ourGoal-section {
  background-color: red;
  width: 100%;
  padding: 8rem 8rem;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(161, 158, 158, 0.3)),
    url("https://gray-ksla-prod.cdn.arcpublishing.com/resizer/SruTPRFG5TNEy7EFk7zx-I1t9Gk=/1920x1080/smart/filters:quality(85)/do0bihdskp9dy.cloudfront.net/07-13-2021/t_9c1ef399b9d446ba94e742bb66a501a5_name_t_bc3e74a6f3cd4aa7827169e691066448_name_fog.JPG");
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  min-height: 70vh;
}

.ourGoal-description {
  max-width: 700px;
  color: rgb(0, 0, 0);
}

.ourGoal-section h1 {
  font-size: 5rem;
  color: rgb(78, 138, 78);
  margin: 2rem 0rem;
}

.ourGoal-section p {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.font-dim {
  color: rgba(0, 0, 0, 0.726);
}

button {
  padding: 2rem 3rem;
  margin-top: 2rem;
  border: none;
  background-color: rgb(78, 138, 78);
  color: white;
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover {
  transform: translateY(5px);
}

.service-section {
  font-family: "Josefin Sans", sans-serif;
  padding: 8rem 8rem;
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: 20%;
}

.service-section h1 {
  text-align: center;
  font-size: 5rem;
  color: rgb(78, 138, 78);
  font-weight: 300;
}

.cards {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.cards h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: left;
  font-size: 3rem;
  color: black;
}

.cards p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.726);
}

.card {
  border-radius: 12px;
  transition: 1s ease;
}

.card1:hover {
  transform: translateY(10px);
}

.card3:hover {
  transform: translateY(10px);
}

.card2:hover {
  transform: translateY(0px);
}

.card1 {
  background-color: pink;
  padding: 2rem;
}

.card2 {
  background-color: rgb(164, 222, 226);
  padding: 2rem;
  transform: translateY(50px);
}

.card3 {
  background-color: #b8ddb4;
  padding: 2rem;
}

.unity-section {
  width: 100%;
  padding: 10rem 8rem;
  font-family: "Josefin Sans", sans-serif;
}

.unity-section-container {
  width: 100%;
}

.unity-section-description {
  display: flex;
  gap: 5rem;
  margin: 2rem;
  width: 100%;
}

.unity-section-description h1 {
  font-size: 6rem;
  font-weight: 300;
  color: rgb(78, 138, 78);
}

.unity-section-description p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  width: 50%;
}

.unity-image {
  width: 100%;
  height: 500px;
  object-position: top;
  object-fit: cover;
}

.about-section {
  padding: 8rem;

  width: 100%;
  min-height: 70vh;
  background-color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.432), rgb(0, 0, 0, 1)),
    url("https://cdn.firstcry.com/education/2022/05/10114506/695934271.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Josefin Sans", sans-serif;
}

.about-title h1 {
  color: white;
  font-size: 5rem;
  font-weight: 300;
}

.normal-texts-div {
  font-family: "Josefin Sans", sans-serif;
  padding: 8rem;
}

.flex {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.normal-texts-div h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.normal-texts-div p {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

/* CAUSE AND SOLUTION SECTION */
.cause-and-solution-section {
  padding: 8rem;
  font-family: "Josefin Sans", sans-serif;

}

.section-title h1{
  font-size: 3rem;
  margin:3rem 0rem;
  font-weight: bold;
}

.solution-description {
  margin-top: 4rem;
  
}

.grid-img {
  width: 100%;
  height: 300px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


.grid-card{
  background-color: rgb(202, 223, 214);
  border-radius: 12px;
}
.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit,42rem);
  gap: 3rem;
}

.grid-card-description{
padding:2rem;
  }


.grid-card-description h1{
margin:1rem 0rem;
}


.grid-card-description p{
font-size: 1.8rem;
line-height: 2.5rem;
  }
  

/* CONTACT */

.gif {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-position: top;
}

form {
  border-radius: 12px;
  font-family: "Raleway", sans-serif;
  width: 400px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}

.form-show {
  opacity: 1;
  pointer-events: fill;
}

.fa-x {
  z-index: 9999;
  font-size: 3rem;
  color: black;
  font-size: 3rem;
  position: absolute;
  right: -10px;
  top: -15px;
  background-color: white;
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

form p {
  text-align: center;
  margin: 2rem;
}

.input-div {
  width: 100%;
  background-color: rgb(5, 5, 5);
  margin: 2rem 0rem;
}

input,
textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid rgb(209, 204, 204);
  width: 100%;
  padding: 0.7rem 2rem;
}

textarea {
  min-height: 15vh;
}

.form-padding {
  padding: 1rem;
}
.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-send {
  margin: 2rem auto;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  background-color: #141414;
  width: 90%;
  cursor: pointer;
  color: white;
}

.vehicle-carbon-tracking-section {
  width: 100%;
  padding: 8rem;
  font-family: "Josefin Sans", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.vehicle-options {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
input,
select {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

select,
input {
  padding: 1rem 2rem;
}

.vechile-carbon-emission-result {
  border-left: 2px solid black;
  padding: 0rem 2rem;
}

.vechile-carbon-emission-result h1 {
  margin-bottom: 3rem;
}

.main-results p {
  line-height: 2.9rem;
  font-size: 2rem;
}

.main-results {
  margin-bottom: 3rem;
  border: 2px solid black;
  padding: 2rem;
}

.sub-results {
  border: 2px solid black;
  padding: 2rem;
}
.sub-results p {
  line-height: 2.8rem;
  font-size: 1.8rem;
  color: #141414;
}

.question {
  width:300px;
  height:300px;
  object-fit: cover;
  margin-top: 2rem;
}

/* CardsInfo-section */

.cards-info-section{
  padding:8rem;
  font-family: "Josefin Sans", sans-serif;
}

.card-info-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:3rem;
}

.card-info-container h1{
font-size: 3rem;
font-weight: 400;
margin:1rem 0rem
}

.card-info-container p{
  line-height: 2.5rem;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.726);
  }


.other-cards-section{
  font-family: "Josefin Sans", sans-serif;
  padding:8rem;

}


.cause{
  margin-bottom:4rem;
}

.singleCardImg{
  width:100%;
  height:auto;
}

footer {
  background-color: rgb(14, 14, 14);
  width: 100%;
  min-height: 30vh;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8rem 0rem;
}



.logo {
  font-size: 4rem;
  color: rgb(255, 255, 255);
}

footer ul {
  display: flex;
  gap: 3rem;
  text-decoration: none;
  font-size: 1.8rem;
  margin-top: 3rem;
}

footer ul li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}


@media (max-width: 1100px) {
  .info-container {
    flex-direction: column;
  }

  .image-description {
    width: 100%;
  }

  .card-info-container{
    display: grid;
    grid-template-columns: 1fr;
    gap:3rem;
  }

  .flex {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }


  
}

@media (max-width: 800px) {
  .cards {
    flex-direction: column;
  }

  .card2 {
    transform: translateY(0px);
  }

  .unity-section-description {
    flex-direction: column;
  }

  .unity-section-description p {
    width: 100%;
  }

  .vehicle-carbon-tracking-section {
display: flex;
flex-direction: column-reverse;
padding:2rem;
  }

  .question{
    width:250px;
    height:250px;
    margin: auto;
  }

  .vechile-carbon-emission-result{
    border-left:0px;
    border-bottom: 2px solid black;
    padding: 3rem 0rem;
  }

  .about-title h1{
    text-align: center;
  }

  .chart-container{
    width:100%;
    overflow-y: scroll;
  }

  .normal-texts-div,.cause-and-solution-section,.cards-info-section,.other-cards-section{
    padding:2rem;
  }

  .result{
    width:100%;
  }
 
}

@media (max-width: 700px) {
  html {
    font-size: 55%;
  }
  .hero-section-container,
  .info-section,
  .ourGoal-section,
  .service-section {
    padding: 4rem 3rem;
  }

  .unity-section {
    padding: 2rem;
  }

  .unity-section-description {
    width: 100%;
  }


  
}

@media (max-width: 600px) {
  html {
    font-size: 55%;
  }
  .hero-section-container,
  .info-section,
  .ourGoal-section,
  .service-section,
  .about-section{
    padding: 2rem;
  }

  img {
    width: 100%;
    border-radius: 12px;
  }

  .unity-section {
    padding: 2rem;
  }

  .unity-section-description {
    width: 100%;
  }

  .info-container {
    margin-bottom: 8rem;
  }

  .unity-image {
    width: 100%;
    height: auto;
    object-position: top;
    object-fit: cover;
  }

  .grid-gallery{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .fa-solid {
    display: block;
  }

  nav {
    position: relative;
  }

  nav ul {
    position: absolute;
    background-color: rgb(14, 14, 14);
    top: 100%;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 0rem;
    transform: translateY(-30px);
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease;
  }

  .ul-show {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: fill;
  }

  nav ul li {
    padding: 2rem;
  }

  nav ul li:hover {
    background-color: rgb(37, 37, 37);
  }
  html {
    font-size: 50%;
  }

  .headings h1 {
    font-size: 4rem;
    font-weight: 400;
  }

  .service-section h1 {
    padding-top: 3rem;
    font-size: 4rem;
    font-weight: 400;
    text-align: left;
  }

  .cards {
    margin-top: 4rem;
  }

  .hero-section-description h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .question{
    width:100%;
    height:auto;
  }
}
